.popup__close-button {
  position: absolute;
  right: -35px;
  top: -35px;
  background-image: url(../../../images/Close_button.svg);
  width: 32px;
  height: 32px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.popup__close-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 400px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    right: 0px;
    background-size: contain;
  }
}