.elements {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: repeat(2, 1fr); */
  grid-auto-rows: 361px;
  grid-row-gap: 20px;
  grid-column-gap: 17px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
} 

@media screen and (max-width: 480px) {
  .elements {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 400px) {
  .elements {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    max-width: 282px;
    /* width: 88%; */
  }
}