.root {
  max-width: 880px;
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  background: black;
  font-family: 'Inter', Arial, sans-serif;
}

@media screen and (max-width: 320px) {
  .root{
    max-width: 282px;
  }
}