.elements__like {
  min-width: 22px;
  min-height: 19px;
  border: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../../../images/like.svg);
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.elements__like:hover {
  opacity: .5;
}

/* .elements__like:active {
  background-image: url(../../../images/like_active.svg);
} */