.profile__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  max-width: 530px;
}

@media screen and (max-width: 640px) {
  .profile__info {
  margin-bottom: 36px;
  }
}