.elements__trash {
  position: absolute;
  background-image: url(../../../images/Trash_button.svg);
  width: 18px;
  height: 19px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
  top: 18px;
  right: 15px;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.elements__trash:hover {
  opacity: 0.6;
}